# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Django/runtime files
db.sqlite3
media/
staticfiles/

# Local secrets
.env
config/.env

# Editor/OS files
.vscode/
.idea/
Thumbs.db
.DS_Store
